---
export interface Props {
  name: string;
  description: string;
  distance: string;
  travel: string;
}

const { name, description, distance, travel } = Astro.props as Props;
---

<article
  id=`panel-${name}`
  role="tabpanel"
  tabindex="0"
  aria-labelledby=`tab-${name}`
  class="tab-content"
  hidden
>
  <h2 class="destination-title">{name}</h2>
  <p class="destination-description">{description}</p>
  <div class="destination-stats">
    <dl>
      <dt class="destination-label">AVG. DISTANCE</dt><dd
        class="destination-value"
      >
        {distance}
      </dd>
    </dl>
    <dl>
      <dt class="destination-label">Est. travel time</dt><dd
        class="destination-value"
      >
        {travel}
      </dd>
    </dl>
  </div>
</article>
